* {
	font-family: 'Press Start 2P', cursive;
	margin: 10px;
}

body {
    background-image: 
    url(../images/puzzlethreebackground.png);
    background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
}

button {
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	padding: 15px;
	border: 20px #18B7BE inset;
	border-radius: 10px;
	color: #072A40;
	background-color: #F9F7F0;
}
button:hover {
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	padding: 25px;
	border: 20px #18B7BE outset;
	color: #F9F7F0;
	background-color: #072A40;
	transition: 0.5s;
}

p {
  color: #F9F7F0;
}

input.submit {
	color: #F9F7F0;
	width: 500px;
	font-size: 15px;
	background-color: #18B7BE;
	border: 10px inset #344648;
	border-radius: 10px;
	padding: 10px;
}